==
<div id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 mt">
                
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        <div class="item active mb centered">
                          <h3>GAVIN LANG</h3>
                          
                          <div id="about-grey"
                          <p>My interest in Photography started at age 8 when I was presented with a disposable Kodak point and shoot camera. With this little toy I learnt my first lessons in composition, as there were simply no other options on the camera. After many years of film and slide photography I progressed, like many, to digital and the boundaries of possibility expanded infinitely.
                              </BR>
                              I find many of my photographic inspirations in the journeys I make as a mountaineering guide and climber, giving me ample action and landscape opportunities. I’ve also enjoyed creating photo collections of newborns and weddings. I thrive at the chance to explore new avenues of artistic expression and I now regularly shoot HD video on my mountain adventures, and enjoy the editing and rendering challenges within the moving story.
                          </p>
                          
                          </div>
                          <p><img class="img-circle" src="{{ 'assets/img/picgav.png' | theme }}" width="120"></p>
                        </div>

                      </div>
                      
                    </div>
                      
                </div><! --/col-lg-8 -->
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/testimonials -->