==
<section id="home" name="home"></section>

    <div id="headerwrap">
    
        <div class="container-fluid">
        <div id="slider">
            <div class="row">
            <!-- start slider -->
            
                <figure>
                <img src="{{ 'assets/img/banners/expanded-1874.jpg'|theme }}" alt="">
                <img src="{{ 'assets/img/banners/expanded-6298.jpg'|theme }}" alt="">
                <img src="{{ 'assets/img/banners/expanded-6545.jpg'|theme }}" alt="">
                <img src="{{ 'assets/img/banners/expanded-0416.jpg'|theme }}" alt="">
                <img src="{{ 'assets/img/banners/expanded-1762.jpg'|theme }}" alt="">
                </figure>
            
            
                <div class="col-md-6 col-md-offset-0">
                    <h1></h1>                  <!-- main logo FIRSTLIGHTFOTO.CO.NZ -->
                </div>
            </div> <!-- end slider -->    
                
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/headerwrap -->
    
    <section id="about" name="about"></section>
    <div id="aboutwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 name">
                    <img class="img-responsive" src="{{ 'assets/img/gavin.jpg'|theme }}">
                    <p></p>
                    <div class="name-label"></div>
                </div><! --/col-lg-4-->
                <div class="col-lg-8 name-desc">
                    
                    <h2>F I R S T &nbsp  L I G H T &nbsp  F O T O  &nbsp  ::&nbsp   G A V I N &nbsp  L A N G&nbsp</h2> 
                    <div class="name-zig"></div>
                    
                    <div class="col-md-6">
                        <p>Welcome to my photo blog. This is the podium I use to showcase my photographic work as it unfolds. I’m based on the South Island of New Zealand where I also guide and instruct clients in the art of mountaineering. I can also be found occasionally clinging to the warmer rock of Australia.</p>
<p> 
I specialize in positioning myself in places that most people won’t dare to go, so if adventure photography or videography is what you require, you’ve come to the right place.
 </p></br></br>
                        
                    </div>
                    <div class="col-md-6">
                        

                    </div>
                    
                </div><! --/col-lg-8-->
        
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /aboutwrap -->