==
<! -- PORTFOLIO SECTION -->
    <section id="portfolio" name="portfolio"></section>
    <div id="portfoliowrap">
        <div class="container">
            <div class="row">
                <h1>PORTFOLIO</h1>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                    <div class="project-wrapper">
                        <div class="project">
                            <div class="photo-wrapper">
                                <div class="photo">
                                    <a class="fancybox" href="{{ 'assets/img/portfolio/img1.jpg' | theme }}"><img class="img-responsive" src="{{ 'assets/img/portfolio/img1.jpg' | theme }}" alt=""></a>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- col-lg-4 -->
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                    <div class="project-wrapper">
                        <div class="project">
                            <div class="photo-wrapper">
                                <div class="photo">
                                    <a class="fancybox" href="{{ 'assets/img/portfolio/img2.jpg' | theme }}"><img class="img-responsive" src="{{ 'assets/img/portfolio/img2.jpg' | theme }}" alt=""></a>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- col-lg-4 -->
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                    <div class="project-wrapper">
                        <div class="project">
                            <div class="photo-wrapper">
                                <div class="photo">
                                    <a class="fancybox" href="{{ 'assets/img/portfolio/img3.jpg' | theme }}"><img class="img-responsive" src="{{ 'assets/img/portfolio/img3.jpg' | theme }}" alt=""></a>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- col-lg-4 -->
            </div><!-- /row -->
    
            <div class="row mt">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                    <div class="project-wrapper">
                        <div class="project">
                            <div class="photo-wrapper">
                                <div class="photo">
                                    <a class="fancybox" href="{{ 'assets/img/portfolio/img4.jpg' | theme }}"><img class="img-responsive" src="{{ 'assets/img/portfolio/img4.jpg' | theme }}" alt=""></a>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- col-lg-4 -->
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                    <div class="project-wrapper">
                        <div class="project">
                            <div class="photo-wrapper">
                                <div class="photo">
                                    <a class="fancybox" href="{{ 'assets/img/portfolio/img5.jpg' | theme }}"><img class="img-responsive" src="{{ 'assets/img/portfolio/img5.jpg' | theme }}" alt=""></a>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- col-lg-4 -->
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                    <div class="project-wrapper">
                        <div class="project">
                            <div class="photo-wrapper">
                                <div class="photo">
                                    <a class="fancybox" href="{{ 'assets/img/portfolio/img6.jpg' | theme }}"><img class="img-responsive" src="{{ 'assets/img/portfolio/img6.jpg' | theme }}" alt=""></a>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- col-lg-4 -->
            </div><!-- /row -->
        </div><! --/container -->
        <div class="container">
            <div class="row mt centered">
                <h1>HOW I TAKE PHOTOS</h1>
                <div class="col-lg-4 proc">
                    <!-- <i class="fa-camera-retro"></i> -->
                    <img src="{{ 'assets/img/camera.png' | theme }}">
                    <h3>The Camera</h3>
                    <p>I take crappy photos on a Nokia 7610 and then I LightShop the crap out of them. Easy!</p>
                </div>
                <div class="col-lg-4 proc">
                    <!-- <i class="fa-lightbulb-o"></i> -->
                    <img src="{{ 'assets/img/lightbulb.png' | theme }}">
                    <h3>The Ideas</h3>
                    <p>I steal ideas from many different source. I've looked at more photo sites than you can imagine</p>
                </div>
                <div class="col-lg-4 proc">
                    <!-- <i class="fa-thumbs-o-up"></i> -->
                    <img src="{{ 'assets/img/loveheart.png' | theme }}">
                    <h3>The Product</h3>
                    <p>You will love my products, especially as they are dirt cheap. You get what you pay for.</p>
                </div>
                
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/Portfoliowrap -->