description = "PortfolioLayout"
url = "/"

[gallery]
idGallery = "1"
lang = "All Photos"
jqueryinject = "yes"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = "1"
mode = "slide"
speed = "500"
loop = "true"
auto = "false"
pause = "2000"
escKey = "true"
height = "120"
width = "150"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    

    <title>First Light Foto</title>

    




    {% styles %}
    
    <link href="{{ [
        'assets/css/bootstrap.min.css',
        'assets/css/font-awesome.min.css',
        'assets/css/style.css',
        'assets/css/fluidbox.css',       
        ]|theme }}" rel="stylesheet">
    <link href="{{ [
        '/assets/img/favicon.ico'
        ]|theme }}" rel="shortcut icon">  
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    



  </head>

  <body>
  <div data-spy="scroll" data-offset="0" data-target="#theMenu">
        
    <!-- Menu -->
    <div class="menu" id="theMenu">
        <div class="menu-wrap">
            <h1 class="logo"><a href="index.html#home">FIRSTLIGHTFOTO</a></h1>
            <i class="fa fa-times menu-close"></i>
            <a href="index.html#home" class="smoothScroll">Home</a>
            <a href="index.html#about" class="smoothScroll">About</a>
                <ul><a href="#portfolio" class="smoothScroll">Portfolio</a>
                    <li class="smoothScroll"><a href="portfolio-1">Portfolio 1</a></li>
                    <li class="smoothScroll"><a href="#portfolio-2">Portfolio 2</a></li>
                    <li class="smoothScroll"><a href="#portfolio-3">Portfolio 3</a></li>
                    <li class="smoothScroll"><a href="#portfolio-4">Portfolio 4</a></li>
                </ul>
            <a href="index.html#services" class="smoothScroll">Services</a>
            <a href="index.html#contact" class="smoothScroll">Contact</a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
        <!-- Menu button -->
        <div id="menuToggle"><i class="fa fa-bars"></i></div>



  
        
        </div>   <!-- was </nav> -->
 

    </div>


<section id="page">
 {% page %}
</section>
   


    
    
    
   

    
     <!-- Footer -->
    <footer class="text-center">
        {% partial "footer" %}
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
        <script>
        $(function(){
            $.stellar({
                horizontalScrolling: false,
                verticalOffset: 40
            });
        });
        </script>
        
        

       





       <!-- Scripts -->
    <script src="{{ [
        'assets/js/jquery-1.11.1.min.js',
        'assets/js/classie.js',
        'assets/js/jquery.stellar.min.js',
        'assets/js/smoothscroll.js',
        'assets/js/bootstrap.min.js',
        'assets/js/main.js',
        'assets/js/jquery.fluidbox.js',
        'assets/js/jquery.fluidbox.min.js'
    ]|theme }}"></script>

    {% scripts %}
    <script src="{{ 'assets/js/jquery.fluidbox.js' | theme }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script language="javascript">
    $(function() {
    $('.fluidbox').fluidbox();
        });
    </script>
   







  </body>
</html>